.headline-group , .headline-lesson{
    text-align: center;
    margin-bottom: 10px;
}

.name-group {
    margin-top: 20px;
}

.name-group > div > a {
    text-decoration: none;
    font-size: 19px;
    color: black;
}

.addNewGroup {
    margin-top: 25px;
}

.rowOfFrom {
    margin-top: 20px;
}

.submitRowLesson {
    margin-top: 25px;
    text-align: center;
}

.submitRowLesson  > button {
    width: 150px;
}

.bottom-line {
    padding: 15px;
    border-bottom: dashed #898989 1px;
}

#endOfBlocks {
    margin-top: 20px;
    text-align: center;
}

#addNewLessons, #deleteNewLessons {
    cursor: pointer;
}
